<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kyéla</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% stylesheets '@KyelaBundle/Resources/public/css/*' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        {% javascripts
        	'@KyelaBundle/Resources/public/js/vendor/jquery-1.11.0.min.js'
        	'@KyelaBundle/Resources/public/js/vendor/bootstrap.min.js'
        	'@KyelaBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'
        	'@KyelaBundle/Resources/public/js/*' %}
        	<script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
    <div id="wrap">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Kyéla</a>
	        </div>
	      </div>
	    </div>

	    <div class="container">
	   		{% block body %}{% endblock %}
	    </div>
    </div>
    <div id="footer">
    	<p>
    		&copy; Arnaud Bienvenu 2014 -
    		Icons by <a href="http://glyphicons.com/">GLYPHICONS.com</a> -
    		<span id="forkongithub"><a href="https://github.com/abienvenu/Kyela">Fork me on GitHub</a></span> -
    		<a href="https://insight.sensiolabs.com/projects/bca46a72-4438-47e7-b629-4b9926e802a6"><img src="https://insight.sensiolabs.com/projects/bca46a72-4438-47e7-b629-4b9926e802a6/small.png" alt="SensioLabsInsight Medal" /></a>
    	</p>
    </div>
    </body>
</html>
