{% extends 'layout.html.twig' %}

{% block body -%}
    <div class="container py-5">
        <div class="text-center mb-4">
            <h1 class="display-4 fw-bold">{% trans %}thank.you{% endtrans %}</h1>
			{% trans %}thank.you.details{% endtrans %}
        </div>
	</div>
{% endblock %}
