{#  Copyright 2014 Arnaud Bienvenu

    This file is part of Kyela.

    Kyela is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Kyela is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Kyela.  If not, see <http://www.gnu.org/licenses/>.

#}
{% extends "KyelaBundle::layout.html.twig" %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>{% trans %}past.events{% endtrans%}</h1>
	</div>
</div>

{{ render(controller('KyelaBundle:Poll:events', {'isFuture': false})) }}

{{ render(controller('KyelaBundle:Poll:participations', {'isFuture': false})) }}

<div class="text-center">
	<a class="btn btn-default btn-lg" role="button" href="{{ path('poll_show', {'pollUrl': poll.url}) }}">
		<span class="glyphicon glyphicon-step-backward"></span>
		{% trans %}back{% endtrans %}
	</a>
</div>

{% endblock %}
