{% if comments %}
<div class="panel panel-primary">
    <div class="panel-heading">{% trans %}comments{% endtrans %}</div>
    <div class="panel-body">
    {% for comment in comments %}
        <p>
            <a href="{{ path('comment_edit', {'pollUrl': poll.url, 'id': comment.id}) }}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            [<i>{{ comment.datetime|localizeddate('short', 'none', app.request.locale, null, "d MMM") }}</i>]
            <b>{{ comment.author }}:</b>
            {{ comment.content }}
        </p>
    {% endfor %}
    </div>
</div>
{% endif %}
