{% extends "KyelaBundle::layout.html.twig" %}

{% block robots %}
	<meta name="robots" content="index, nofollow">
{% endblock %}

{% block body -%}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}new.poll{% endtrans %}</h1>
		</div>
	</div>

	<div class="container">
		{{ form(form) }}
		<h3>{% trans %}demos{% endtrans %}</h3>
		<p><a href="{{ path("poll_show", {'pollUrl': 'a1'}) }}">A1</a></p>
	</div>
{% endblock %}
