{% extends "KyelaBundle::layout.html.twig" %}

{% block robots %}
	<meta name="robots" content="index, nofollow">
{% endblock %}

{% block body -%}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}new.poll{% endtrans %}</h1>
		</div>
	</div>

	<div class="container">
		{{ form(form) }}
	</div>
</ul>
{% endblock %}
