{% extends "KyelaBundle::layout.html.twig" %}

{% block robots %}
	<meta name="robots" content="index, nofollow">
{% endblock %}

{% block body -%}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}main.title{% endtrans %}</h1>
		</div>
	</div>

	<div class="container">
		<h2>{% trans %}new.poll{% endtrans %}</h2>
		{{ form(form) }}
		<h2>{% trans %}example{% endtrans %}</h2>
		<p><a href="{{ path("poll_show", {'pollUrl': 'exemple'}) }}">{% trans %}next.training{% endtrans %}</a></p>
	</div>
{% endblock %}
