{% extends "KyelaBundle::layout.html.twig" %}

{% block body -%}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}unlock{% endtrans %} - {{ poll.title }}</h1>
		</div>
	</div>

	<div class="container">
		<p>{% trans %}unlock.explanation{% endtrans %}</p>
		{{ form(form) }}
	</div>
{% endblock %}
