{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container-fluid mt-2 text-center">
		<a role="button" class="btn btn-lg btn-secondary btn-gradient m-2"
			href="{{ path('app_poll_show', {url: poll.url}) }}">
			<i class="bi bi-skip-backward me-2"></i>
			{{ 'back' | trans }}
		</a>
	</div>

	<div class="container-fluid mt-4">
		<div class="card shadow-lg p-4 position-relative">
			{{ render(controller('App\\Controller\\EventController::archive', {'poll': poll})) }}
		</div>
	</div>

	<div class="container-fluid mt-4">
		<div class="card shadow-lg p-4 position-relative">
			{{ render(controller('App\\Controller\\ParticipationController::archive', {'poll': poll})) }}
		</div>
	</div>
{% endblock %}
