{% extends "KyelaBundle::layout.html.twig" %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}contact{% endtrans%}</h1>
		</div>
	</div>

	<div class="container">
		{{ form(form) }}
	</div>
{% endblock %}
