<div>
	<button class="btn border dropdown-toggle choice-blue shadow" type="button"
		id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Cell
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li>
			<span class="dropdown-item">
				<button type="button" class="btn choice-red">
					<twig:ux:icon name="bi:x" width="25" />Coucou
				</button>
			</span>
		</li>
		<li>
			<span class="dropdown-item">
				<button type="button" class="btn choice-green">
					<twig:ux:icon name="bi:check" width="25" />Another action
				</button>
			</span>
		</li>
		<li>
			<span class="dropdown-item">
				<button type="button" class="btn choice-gray">
					<twig:ux:icon name="bi:question" width="25" />Something else here
				</button>
			</span>
		</li>
	</ul>
</div>
