{% extends "KyelaBundle::layout.html.twig" %}

{% form_theme edit_form 'KyelaBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'KyelaBundle:Form:fields.html.twig' %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1>{{ entity.name }}</h1>
		</div>
	</div>

	<div class="container">
		<div class="pull-right">
			{{ form(delete_form) }}
		</div>
		{{ form(edit_form) }}
	</div>
{% endblock %}
