{% extends "KyelaBundle:Participate:layout.html.twig" %}

{% block body -%}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans %}new.participant{% endtrans %}</h1>
		</div>
	</div>

	<div class="container">
		{{ form(form) }}
		<a class="btn btn-default btn-lg" role="button" href="{{ path('index') }}">{% trans %}cancel{% endtrans %}</a>
	</div>
{% endblock %}
