{% extends "KyelaBundle:Participate:layout.html.twig" %}

{% block body -%}
    <h1>Participant creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('participant') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
