/* Fixed-cell table, inspired by https://codepen.io/estelle/pen/MNwVxW */

table {
	border-collapse: collapse;
	text-align: center;
}

tbody {
	overflow: scroll;
}

@media (max-width: 991.98px) {
	.events-container {
		position: relative;
		max-height: 30vh;
		overflow: scroll;
	}
}

.participation-container {
	position: relative;
	max-height: 80vh;
	min-height: 30vh;
	overflow: scroll;
}

/* Top line */
table.sticky thead th {
	position: -webkit-sticky;
	position: sticky;
	bottom: -1px;
	top: -1px;
	z-index: 2;
}

/* Bottom line */
table.sticky tfoot tr {
	border-top: 50px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF !important;
}

table.sticky tfoot th {
	position: -webkit-sticky;
	position: sticky;
	z-index: 2;
	color: #444545;
	text-transform: uppercase;
}

/* Left corner */
table.sticky thead th:first-child,
table.sticky tfoot th:first-child {
	left: -1px;
	z-index: 3;
}

/* Left column */
table.sticky tr > :first-child {
	position: -webkit-sticky;
	position: sticky;
	left: -1px;
}

table.sticky td, table.sticky th {
	white-space: nowrap;
}

.subtitle {
	font-weight: normal;
	color: #808080;
}

/* Classe pour atténuer l'affichage (transparence/grisé) des lignes non sélectionnées */
.dimmed {
	opacity: 0.5;
	transition: opacity 0.3s ease;
}

/* Classe pour mettre en relief la ligne sélectionnée */
.selected {
	opacity: 1;
}

/* Désactivation des lignes non sélectionnées */
td.disabled {
	pointer-events: none;
}

/* Dégradé et effet de relief */
.btn-gradient {
	/* Dégradé */
	background-image: linear-gradient(45deg, rgba(0, 123, 255, 1) 0%, rgba(0, 80, 200, 1) 100%);
	/* Pour assurer que le texte reste lisible */
	color: #FFFFFF;
	border: none;
	/* Effet de relief : box-shadow */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	/* Transition pour un effet de survol plus fluide */
	transition: transform 0.2s, box-shadow 0.2s;
}

/* Effet de survol pour accentuer le relief */
.btn-gradient:hover {
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-primary.btn-gradient {
	background-image: linear-gradient(45deg, #0D6EFD, #0B5ED7);
}

.btn-success.btn-gradient {
	background-image: linear-gradient(45deg, #198754, #157347);
}

.btn-warning.btn-gradient {
	background-image: linear-gradient(45deg, #FFC107, #E0A800);
}

.btn-danger.btn-gradient {
	background-image: linear-gradient(45deg, #DC3545, #BB2D3B);
}

.btn-secondary.btn-gradient {
	background-image: linear-gradient(45deg, #6C757D, #5A6268);
}

.btn-info.btn-gradient {
	background-image: linear-gradient(45deg, #0DCAF0, #31D2F2);
}

.btn-light.btn-gradient {
	background-image: linear-gradient(45deg, #F8F9FA, #E9ECEF);
}

.btn-dark.btn-gradient {
	background-image: linear-gradient(45deg, #212529, #343A40);
}

.btn-kyela.btn-gradient {
	background-image: linear-gradient(45deg, #96C11F, #86B10F);
}
