html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

#footer {
	font-size: 10px;
	text-align: center;
	height: 40px;
	padding: 6px;
	background-color: #f5f5f5;
}

.table td, .table th {
	text-align: center;
}

#forkongithub a {
	background:#0a0; color:#fff; text-decoration:none; font-family:arial,sans-serif; text-align:center; font-weight:bold;
	padding:5px 40px;line-height:2rem;position:relative;transition:0.5s;
}
#forkongithub a:hover {
	background:#c11;color:#fff;
}
#forkongithub a::before, #forkongithub a::after {
	content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;
}
#forkongithub a::after {
	bottom:1px;top:auto;
}

.btn-lg { margin-bottom: 5px; }
th { background: #e0f0ff; }

.dropdown-menu { background: #f0f0f0; }
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus { background-image: none; background: #e8e8e8; }

.list-group-item { padding: 4px; }
table.table-condensed>tbody>tr>td { padding: 2px; }

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.choice-green { background: #5cb85c; color: #ffffff; }
.choice-green:hover,.choice-green:focus { background-color:#419641; color: #ffffff; }
.choice-orange { background: #f0ad4e; color: #ffffff; }
.choice-orange:hover,.choice-orange:focus { background-color:#eb9316; color: #ffffff; }
.choice-red { background: #d9534f; color: #ffffff; }
.choice-red:hover,.choice-red:focus { background-color:#c12e2a; color: #ffffff; }
.choice-blue { background: #428bca; color: #ffffff; }
.choice-blue:hover,.choice-blue:focus { background-color:#2d6ca2; color: #ffffff; }
.choice-cyan { background: #5bc0de; color: #ffffff; }
.choice-cyan:hover,.choice-cyan:focus { background-color:#2aabd2; color: #ffffff; }
.choice-purple { background: #a0a0ff; color: #ffffff; }
.choice-purple:hover,.choice-purple:focus { background-color:#8080f0; color: #ffffff; }
.choice-gray { background: #b0b0b0; color: #ffffff; }
.choice-gray:hover,.choice-gray:focus { background-color:#909090; color: #ffffff; }

.bs-glyphicons { margin:0 -10px 20px; overflow:hidden }
.bs-glyphicons-list { padding-left:0; list-style:none }
.bs-glyphicons li {
	float:left; width:25%; height:60px; padding:10px; font-size:10px;
	line-height:1.4; text-align:center; background-color:#f9f9f9; border:1px solid #fff
}
.bs-glyphicons .glyphicon { margin-top:5px; margin-bottom:10px; font-size:24px }
.bs-glyphicons .glyphicon-class { display:block; text-align:center; word-wrap:break-word }
.bs-glyphicons li:hover { background-color:#f0f0f0 }
@media (min-width:768px) {
	.bs-glyphicons { margin-right:0; margin-left:0 }
	.bs-glyphicons li {width:12.5%;font-size:12px}
}
