{% extends "KyelaBundle::layout.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans %}new.event{% endtrans %}</h1>
        </div>
    </div>

    <div class="container">
        {{ form(form) }}
    </div>

    <script type="text/javascript">
        $('.datepicker').datepicker({ dateFormat: 'dd-mm-yy' });
        $('.timepicker').timepicker({ showMeridian: false, minuteStep: 5, defaultTime: false});
    </script>
{% endblock %}
