{% extends "KyelaBundle::layout.html.twig" %}

{% block body %}
<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}participant{% endtrans %}</th>
				<th>2 mars 12:30</th>
				<th>23 novembre 12:46</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Total</th>
				<th>1</th>
				<th>1</th>
			</tr>
		</tfoot>
		<tbody>
			{% for participant in participants %}
			<tr>
				<td>{{ participant.name }}</td>
				<td>Oui</td>
				<td>Non</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<p>
	<a class="btn btn-primary btn-lg" role="button" href="{{ path('participant_new') }}">{% trans %}add.a.participant{% endtrans %}</a>
	<a class="btn btn-success btn-lg" role="button">{% trans %}add.a.date{% endtrans %}</a>
	<a class="btn btn-warning btn-lg" role="button">{% trans %}edit.options{% endtrans %}</a>
</p>

{% endblock %}
